*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
::-webkit-scrollbar {
    display: none;
}
.uno{
    height: 100vh;
   
    overflow-y: hidden;
    overflow-x: hidden;
   
}
.contenedor1{
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow-x: hidden;

}

.video1{
    width: 100%;
    display: inline;
    position: absolute;
    margin: auto;
    justify-content: center;
  
}

.intro{
    height: 100vh;
    position: absolute;
   top: 0vh;
    left: -30vh;
    justify-content: center;
    z-index: -1;
    overflow-y: hidden;
    overflow-x: hidden;
  
    
}
.muteador{
    width: 150vh;
    height: 55vh;
}
#parlante{
    height: 5vh;
    z-index: 2;
    position: relative;
    float: right;
    right: 19vh;
    top: 50vh;
    
   
}
.flecha{
    width: 150vh;
    height: 40vh;
}
#flecha{
    display: inline;
    width: 5vh;
    position: relative;
    float: right;
    top: 35vh;
    right: 19vh;
}   
body{
    height: 100vh;
    width: 150vh;
    overflow-y: hidden;
    overflow-x: hidden;

}
/*Primera entrada*/
.video{
    width: 100%;
    display: inline;
    position: absolute;
    margin: auto;
    justify-content: center;
  
}
.contenedor{
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow-x: hidden;

}
.entrada_uno{
    height: 100vh;
    position: absolute;
   top: 0vh;
    left: -20vh;
    justify-content: center;
    z-index: -1;
    overflow-y: hidden;
    overflow-x: hidden;
}
.muteador_dos{
    width: 150vh;
    height: 55vh;
}
#parlante_dos{
    display: inline;
    height: 5vh;
    z-index: 2;
    position: relative;
    float: right;
    top: 44vh;
    left: 108vh;
    
    
}
#flecha_dos{
    display: inline;
    width: 5vh;
    position: relative;
    float: right;
    top: -5vh;
    left: 106vh;

}
/*MENU*/

.titulo{
    display: inline;
    position: relative;
    width: 40vh;
    top: 2.5vh;
    left: 1vh;
}

.entrada{
    display: inline;
    position: relative;
    width: 30vh;
    top: 2vh;
    left: -7vh; 

}
ul li {
    list-style: none;
}

/*SEGUNDA ENTRADA*/

.entrada_dos{
    height: 100vh;
    position: absolute;
    justify-content: center;
    z-index: -1;
    overflow-y: hidden;
    overflow-x: hidden;
    left: -10vh;
}
#parlante_tres{
    display: inline;
    height: 5vh;
    z-index: 2;
    position: relative;
    float: right;
    top: 44vh;
    left: 108vh;
    
    
}
.muteador_tres{
    width: 150vh;
    height: 55vh;
}
#flecha_tres{
    display: inline;
    width: 5vh;
    position: relative;
    float: right;
    top: -5vh;
    left: 106vh;
}