*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
::-webkit-scrollbar {
    display: none;
}
body{
    height: 107vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
   
}
.contenedor1{
    height: 100vh;
    justify-content: center;
    overflow-x: hidden;

}
.contenedor{
    height: 107vh;
    width: 205vh;
    justify-content: center;
    overflow-x: hidden;

}
.video{
    width: 100%;
    display: inline;
    position: absolute;
    margin: auto;
    justify-content: center;
  
}

.intro{
    height: 100vh;
    position: absolute;
    justify-content: center;
    z-index: -1;
    overflow-y: hidden;
    overflow-x: hidden;
  
    
}
#parlante{
    height: 5vh;
    z-index: 2;
    position: relative;
    float: right;
    top: 92vh;
    right: -2vh;

   
    
}
#flecha{
    width: 5vh;
    position: relative;
    float: right;
   top: 42vh;
   right: 3vh;
}
/*Primera entrada*/
.entrada_uno{
    height: 100vh;
    position: absolute;
    justify-content: center;
    z-index: -1;
    overflow-y: hidden;
    overflow-x: hidden;
}
#parlante_dos{
    display: inline;
    height: 7vh;
    z-index: 2;
    position: relative;
    float: right;
    top: 40vh;
    right: 27vh;
    
    
}
#flecha_dos{
    display: inline;
     width: 5vh;
    position: relative;
    float: right;
   top: -5vh;
   right: 30vh;

}
/*MENU*/
.entrada_dos{
    height: 100vh;
    position: absolute;
    justify-content: center;
    z-index: -1;
    overflow-y: hidden;
    overflow-x: hidden;
}
.titulo{
    display: inline;
    position: relative;
    width: 40vh;
    top: 2.5vh;
    left: 1vh;
}

.entrada{
    display: inline;
    position: relative;
    width: 30vh;
    top: 2vh;
    left: -10vh; 

}
ul li {
    list-style: none;
}

/*SEGUNDA ENTRADA*/
#parlante_tres{
    display: inline;
    height: 7vh;
    z-index: 2;
    position: relative;
    float: right;
    top: 40vh;
    right: 27vh;
    
    
}
#flecha_tres{
    width: 5vh;
    position: relative;
    display: inline;
    float: right;
    right: 30vh;
    top: -10vh;
}
