@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');
*{
    margin: 0;   
    font-family: 'Montserrat', sans-serif;
}
.contenedor{
    width: 50%;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 15vh;
}
.frame{
    width: 60%;
}
h2{
    font-size: large;
    font-weight: bolder;
    color: rgb(78, 77, 77);
}
p{
    font-size: small;
    line-height: 2;
    color: rgb(78, 77, 77);
}
/*CATALOGO*/
.contenedor2{
    width: 50%;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
    
}
h1{
    font-size: 70px;
    font-weight: bolder;
    color: rgb(187, 30, 95);
    margin-bottom: 8vh;
}
.entrada1{
    margin-bottom: 10vh;
    text-align: center;
   
    
}
.izq{
    float: left;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5vh;

}
.lavandina{
    width: 40%;
    float: left;
    display: inline;

}

#uno{
    width: 40%;
    float: right;
}
.marcador{
    width: 40%;
    float: right;
    display: inline;
   
}
#dos{
    width: 40%;
    float: left;
 }